<div class="alert {{# error }}alert--error{{/ error }} {{# warning }}alert--warning{{/ warning }} {{# success }}alert--success{{/ success }}{{# info }}alert--info{{/ info}}">
	<p>{{{ alertText }}}</p>
</div>