// components/_components.buttons.scss
/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 */

.c-btn {
  @include typesetting(btn);
  border-style: solid;
  font-size: 12px;
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit;
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  padding: 17px 20px;
  transition: $global-transition;
  border-radius: 0;
  width: auto;
}