///* ========================================================================
//   #ANIMATE
//   ======================================================================== */

// Animation speed
$base-duration: 1s;

// Base Distance
$base-distance: 50px;

// Modules used
$use-fadeInUp: true;
$use-fadeInLeftBig: true;

