@import "sass/global";

// Pattern Lab specific

.dark-bg {
    background: palette(sofology, dark-grey);
}

// Body classes

body {
    &.template {
        background: palette(sofology, dark-grey);
        .container {
            align-self: center;
            max-width: 1600px;
        }
    }
}



// Image Peek

.imagePeek {
    @include position($top: 5%, $left: -15%);
    max-height: 90%;
    transform: translate(-50%, -50%);
}



