@import "sass/global";

// Pattern Lab specific

.dark-bg {
    background: palette(sofology, dark-grey);
}





// Image Peek

.imagePeek {
    @include position($top: 5%, $left: -15%);
    max-height: 90%;
    transform: translate(-50%, -50%);
}



