<figure class="o-media  o-media--tile">
    {{> atoms-square-image }}
    <figcaption class="o-media__caption  u-contrast--dark">
        <h2>Title of image</h2>
        <h3>Subtitle of image</h3>
    </figcaption>
</figure>