{{> organisms-header }}

{{> molecules-banner(image: true, h-align-right: true, text-background: true, sofology-blue-txt-bg: true, muted-60: true) }}

{{> molecules-banner(image: true, half-left-fill: true, sofology-dark-grey-half-bg: true, muted-60: true, cta: false, cta-wide: true) }}

{{> organisms-banner(takeover: true, text-background: true, sofology-dark-grey-txt-bg: true, muted-40: true) }}

{{> organisms-banner-parallax }}

{{> molecules-banner(image: true, h-align-left: true, text-background: true, sofology-red-txt-bg: true, muted-60: true) }}