/* ==========================================================================
   #BASKET
   ========================================================================== */

/* Basket Icon.
   ========================================================================== */

.basket-icon a {
    position: relative;

    .fa-bag {
        color: palette(sofology, dark-grey);
    }

    .bag-count {
        @include circular(rem(14), palette(sofology, blue));
        @include position($top: 40%, $left: 50%);
        color: palette(sofology, white);
        font-family: typeface(regular);
        font-size: rem(12);
        line-height: rem(14);
        text-align: center;
        transform: translate(-50%,-50%);
    }

}