/* ==========================================================================
   #HEADER
   ========================================================================== */

header {
    @include flexbox($direction: column);
    background: palette(sofology, black);
    height: 110px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
    padding: $inuit-global-spacing-unit;
}

