/* ==========================================================================
   #BUTTONS
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 */

.c-btn {
  @include typesetting(btn);
  border-style: solid;
  font-size: 12px;
  display: inline-block; /* [1] */
  vertical-align: middle; /* [2] */
  font: inherit;
  text-align: center; /* [4] */
  margin:  0; /* [4] */
  cursor: pointer; /* [5] */
  overflow: visible; /* [6] */
  padding: 17px 20px;
  transition: $global-transition;
  border-radius: 0;
  width: auto;
}

$border-width: 2px;



/* Style variants
   ========================================================================== */

.c-btn--soft {
    border: none;
    border-radius: 50px;
}

.c-btn--blue {
	@include componentButtons(blue);

}

.c-btn--yellow {
	@include componentButtons(yellow, light);
}

.c-btn--pink {
	@include componentButtons(pink);
}

.c-btn--red {
	@include componentButtons(outlet-red);
}

.c-btn--dark-grey {
    @include componentButtons(dark-grey);
}

.c-btn--black {
	@include componentButtons(black);
}




/* Size variants
   ========================================================================== */

.c-btn--small {
  padding: 4px 17px;
}

/*
.c-btn--large {
  padding: inuit-rem($inuit-global-spacing-unit) inuit-rem($inuit-global-spacing-unit-large);
}
*/





/* Ghost buttons
   ========================================================================== */

/**
 * Ghost buttons have see-through backgrounds and are bordered.
 */

$btn-ghost-border-width: 2px;

.c-btn--ghost {
  color: white;
  border: $btn-ghost-border-width solid currentColor;
  text-transform: uppercase;
  &,
  &:hover,
  &:active,
  &:focus {
    background: none;
  }

  &:hover {
  	background-color: palette(sofology, white);
  	border-color: palette(sofology, white);
  	color: palette(sofology, dark-grey);
  }

  &.c-btn--small {
//     padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit-small - $btn-ghost-border-width);
  }

  &.c-btn--large {
//     padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
  }

  &.c-btn--primary {
    color: #4a8ec2;

    &:hover,
    &:focus {
      color: #3774a2;
    }

  }

  &.c-btn--secondary {
    color: #2f4054;

    &:hover,
    &:focus {
      color: #1d2733;
    }

  }

  &.c-btn--tertiary {
    color: #fff;

    &:hover,
    &:focus {
      color: #fff;
    }

  }

}





/* Directional buttons
   =========================================================================== */

.c-btn {
    &--direction {
        background: none;
        border: none;
        color: inherit;
        font-size: rem(48);
        left: 50%;
        transform: translateX(-50%);
        &.fa-angle-down {
            @include position(absolute, $bottom: 20px);
        }
        &.fa-angle-up {
            @include position(absolute, $top: 20px);
        }
    }
}




// Buttons

/*
.c-btn {

    border-width: 2px;
    border-style: solid;
	border-radius: 0;
	padding: 17px 20px;
	width: auto;
	&--brand {

		background: transparent;
		text-transform: uppercase;
	}

	&--primary {
    	background: palette(sofology, blue);
        border: none;
        text-transform: uppercase;
	}
}
*/