/* ==========================================================================
   #BASKET
   ========================================================================== */

/* Basket Icon.
   ========================================================================== */

.basket-icon a {
    position: relative;

    .bag-count {
        @include circular(rem(25), palette(sofology, blue));
        @include position($top: 25%, $left: 50%);
        color: palette(sofology, white);
        font-family: typeface(regular);
        font-size: rem(16);
        line-height: rem(25);
        text-align: center;
        transform: translate(-50%,-50%);
    }

}