/* ==========================================================================
   #BANNERS
   ========================================================================== */

.c-banner {
    @include flexbox();
	background: palette(sofology, medium-grey);
	color: palette(sofology, white);
    justify-content: center;
    padding: $inuit-global-spacing-unit 0;
    position: relative;
    z-index: 2;
    &--img,
    &--video,
    &--muted {
        flex-direction: row;
	    padding: 0;
    }


    &--img {
        background: url('http://placeimg.com/1572/1118/nature') no-repeat;
        background-size: cover;
        padding: $inuit-global-spacing-unit 0;
    }

    &--half-left {
        justify-content: flex-start;
        padding: 0;
    }

    &--half-right {
        justify-content: flex-end;
        padding: 0;
    }


    &--square {
        max-width: 600px;
    }


    &--h-align-left { }


    &--h-align-right { }


    &--takeover {
        height: 100vh;
        overflow: hidden;
        padding: 0;
        img {
            @include size(100%);
            object-fit: cover;
            object-position: 50% 50%;
        }
    }


    &--parallax {
        padding: 0;
        z-index: 1;
    }


    .parallax {
        @include flexbox($direction: row);
        align-items: center;
        background-image: url('http://placeimg.com/1572/1118/tech');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1000px;

        &--takeover {
            height: 100vh;
        }
    }


    &--muted {

	    &:after {
    	    @include position($top: 0, $left: 0, $right: 0, $bottom: 0);
            background-color: inherit;
		    content: '';
		    z-index: 1;
	    }

	    &--20:after {
		    opacity: .2;
	    }
	    &--40:after {
		    opacity: .4;
	    }
	    &--60:after {
		    opacity: .6;
	    }
	    &--80:after {
		    opacity: .8;
	    }

    }


    &--muted-txt,
    &--muted-half {

        position: relative;
        &:after {
            @include position($top: 0, $left: 0, $right: 0, $bottom: 0);
            background-color: inherit;
            content: '';
            z-index: 1;
	    }

	    &--20:after {
		    opacity: .2;
	    }
	    &--40:after {
		    opacity: .4;
	    }
	    &--60:after {
		    opacity: .6;
	    }
	    &--80:after {
		    opacity: .8;
	    }

    }


/*
    &--muted-half {

        position: relative;
	    &:after {
		    content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    background-color: inherit;
		    z-index: 1;
	    }

	    &--20:after {
		    opacity: .2;
	    }
	    &--40:after {
		    opacity: .4;
	    }
	    &--60:after {
		    opacity: .6;
	    }
	    &--80:after {
		    opacity: .8;
	    }




    }
*/


    // Vertical Align the banner container
    &--v-align-top {
        justify-content: flex-start;
    }

    &--v-align-bottom {
	    justify-content: flex-end;
    }


    // Wrapper
    &__wrapper {
        @include flexbox();
	    align-self: center;
	    justify-content: center;
	    text-align: center;
	    width: 90%;

	    .c-banner--video & {
		    @include position($top: 50%);
	    }

	    .c-banner--parallax & {
    	    margin: 0 5%;
	    }

        // Vertically Align the wrapper
        .c-banner--v-align-top & {
            align-self: flex-start;
            padding-top: $inuit-global-spacing-unit;
        }

        .c-banner--v-align-bottom & {
            align-self: flex-end;
            padding-bottom: $inuit-global-spacing-unit;
        }

        // Horizontally Align the wrapper
        .c-banner--h-align-left &,
        .c-banner--h-align-right & {

            justify-content: flex-start;
            margin: 0 2.5%;
            width: 95%;

            .c-banner__text {
                align-self: flex-start;
                text-align: left;
                width: 50%;
            }

            .o-actions {
	            justify-content: flex-start;
            }

        }

        .c-banner--h-align-right & {
            justify-content: flex-end;

            .c-banner__text {
                align-self: flex-end;
            }

        }


	    .c-banner--left-text & {
		    align-self: flex-start;
		    justify-content: flex-start;
		    padding-left: 5%;
		    text-align: left;
		    width: 50%;
	    }

	    .c-banner--left-text {
		    padding-left: 4%;
	    }


	    .c-banner--right-text & {
		    align-self: flex-end;
		    justify-content: flex-end;
		    padding-right: 4%;
		    padding-left: 0;
		    text-align: left;
		    width: 50%;
	    }

	    .c-banner--muted & {
		    z-index: 2;
	    }

	    .c-banner--half-left & {
    	    @include size(50%, 100%);
		    align-self: flex-start;
    	    background: inherit;
		    text-align: left;

		    .o-actions {
    		    justify-content: flex-start;
		    }
	    }

	    .c-banner--half-right & {
    	    @include size(50%, 100%);
		    align-items: flex-start;
		    align-self: flex-end;
		    text-align: left;

		    .o-actions {
			    justify-content: flex-start;
		    }
	    }
    }

    &__text {
	    align-self: center;
	    flex-direction: column;
        padding: $inuit-global-spacing-unit 0;
	    width: 78%;

		&--bg {
			padding: $inuit-global-spacing-unit;
		}

		&--inner {
			position: relative;
			z-index: 2;
		}

		&--inner > *:last-child {
    		margin: 0;
		}

    }


    &:first-of-type {
	    .c-btn--direction {
	        &.fa-angle-up {
	            opacity: 0;
	        }

	    }
	}

	&:last-of-type {
	    .c-btn--direction {
	        &.fa-angle-down {
	            opacity: 0;
	        }
	    }
	}

}