<ul class="sg-colors">
    <li>
        <span class="sg-swatch" style="background: #009fee;"></span>
        <span class="sg-label">
            $sofology-blue <br />
            #009fee <br />
            0,159,238
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #de007b;"></span>
        <span class="sg-label">
            $sofology-pink <br />
            #de007b <br />
            222,0,123
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #fff000;"></span>
        <span class="sg-label">
            $sofology-yellow <br />
            #fff000 <br />
            255,240,0
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #9F090A;"></span>
        <span class="sg-label">
            $sofology-red <br />
            #9F090A <br />
            159,9,10
        </span>
    </li>
</ul>
