<ul class="sg-colors">
	<li>
		<span class="sg-swatch sofology-positive"><span class="contrast">Contrast</span></span>
		<span class="sg-label">
            $sofology-positive <br />
            #DFF0D8<br />
            223, 240, 216
        </span>
	</li>
	<li>
		<span class="sg-swatch sofology-caution"><span class="contrast">Contrast</span></span>
		<span class="sg-label">
			$sofology-caution <br />
			#FFD57D<br />
			255, 213, 125
		</span>
	</li>
	<li>
		<span class="sg-swatch sofology-negative"><span class="contrast">Contrast</span></span>
		<span class="sg-label">
			$sofology-negative <br />
			#EF7979<br />
			239, 121, 121
		</span>
	</li>
</ul>